
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

li {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid rgb(223, 221, 221);
    font-family: 'Walter Turncoat', cursive;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}
