h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    
    /* font-family: 'Permanent Marker', cursive; */
}

#firebaseui-auth-container {
    /* margin-left: 40%;
    width: 20%;
    border: 1px solid black;
} */